@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-PJS-Normal), Helvetica, sans-serif;
}

h1 {
  font-size: 2rem;
}

a {
  width: 100%;
  display: block;
}

button {
  color: var(--background);
  background: var(--foreground);
  padding: 5px 20px;
  display: block;
  margin: 0 auto;
  position: relative;
  font-family: var(--font-PJS-Bold);
  font-weight: bold;
}

img {
  margin: 0 auto;
}

.userInfo {
  margin-bottom: 10px;
  font-family: var(--font-PJS-Bold);
  font-weight: bold;
}

.profileIcon {
  float: right;
  width: 30px;
  margin-top: 5px;
}

.modal, .profile {
  color: var(--background);
  background: var(--foreground);
}

.profileTitle, .modalHeader {
  font-family: var(--font-PJS-Bold);
  font-weight: bold;
}

.profileLabel {
  width: 240px;
  display: block;
  margin: 0 auto;
}

.profileTitle {
  text-align: left;
  font-size: 1.1rem;
  width: 240px;
  display: block;
  margin: 0 auto;
}

.modalHeader {
  text-align: center;
  font-size: 2rem;
}

.modal img {
  width: 240px;
  height: auto;
  display: block;
}

.modal p {
  text-align: left;
  width: 240px !important;
  display: block;
  margin: 0 auto;
  font-size: 1.2rem;
}

input {
  border: #000000 1px solid;
  display: block;
  margin: 0 auto;
  padding: 1px;
  width: 240px;
}